* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .resume-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(to left, #623CAB, #49ABC7);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.635);
    border-radius: 8px;
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    margin-right: 20px;
  }
  
  .profile-pic img {
    width: 100px;
    height: 100px;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-content h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .header-content p {
    font-size: 1.1rem;
    color: #666;
  }
  
  .resume-section {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #b7e3ffe7;
  }
  
  .resume-section h2 {
    color: #363636;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
  }
  
  .resume-section h2::before {
    content: '●';
    position: absolute;
    left: 0;
    color:rgb(123, 169, 239);
    font-size: 1.5rem;
  }
  
  .resume-section p, .resume-section ul {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .resume-section ul {
    list-style-type: none;
  }
  
  .resume-section li {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  footer {
    margin-top: 30px;
    text-align: center;
  }
  
  footer a {
    color: #002064;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  button {
    padding: 10px;
    background-color: #2876a7;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #4c2f81;
  }

    /* Responsive styles */
    @media screen and (max-width: 840px) {
      .resume-container {
        margin: 50px 20px;
      }
    }
  